flows.json
[{"id":"769193eb.2c4c5c","type":"tab","label":"Customer Help Desk","disabled":false,"info":""},{"id":"4e66091a.c83b08","type":"watson-conversation-v1","z":"769193eb.2c4c5c","name":"","workspaceid":"f686b627-0215-4393-8636-0d4fc85febb5","multiuser":false,"context":false,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/15523db3-346d-402c-8ef9-cdc8ce44c235","timeout":"","optout-learning":false,"x":440,"y":100,"wires":[["ed1ff330.f4a0f","95878e6e.66c3f"]]},{"id":"ed1ff330.f4a0f","type":"debug","z":"769193eb.2c4c5c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":790,"y":100,"wires":[]},{"id":"95878e6e.66c3f","type":"function","z":"769193eb.2c4c5c","name":"parsing","func":"msg.payload.text=\"\";\nif(msg.payload.context.webhook_result_1){\n    for(var i in msg.payload.context.webhook_result_1.results){\n    msg.payload.text=msg.payload.text+\"\\n\"+msg.payload.context.webhook_result_1.results[i].text;\n}\n    msg.payload=msg.payload.text;\n}\n\nelse\nmsg.payload = msg.payload.output.text[0];\nreturn msg;\n","outputs":1,"noerr":0,"x":600,"y":240,"wires":[["49550237.e80dcc"]]},{"id":"55e3785b.a08f58","type":"ui_text","z":"769193eb.2c4c5c","group":"3b0920fb.1cb87","order":2,"width":20,"height":1,"name":"","label":"QUESTION","format":"{{msg.payload}}","layout":"row-left","x":550,"y":300,"wires":[]},{"id":"1df321bc.117c2e","type":"ui_text","z":"769193eb.2c4c5c","d":true,"group":"3b0920fb.1cb87","order":4,"width":20,"height":8,"name":"","label":"Answer","format":"{{msg.payload}}","layout":"col-center","x":540,"y":500,"wires":[]},{"id":"15556cbb.74cd33","type":"debug","z":"769193eb.2c4c5c","d":true,"name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":500,"wires":[]},{"id":"edf0d7ca.bf4c58","type":"function","z":"769193eb.2c4c5c","name":"input parsing","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":240,"wires":[["4e66091a.c83b08","55e3785b.a08f58"]]},{"id":"db73d447.d0b2d8","type":"ui_form","z":"769193eb.2c4c5c","name":"","label":"","group":"3b0920fb.1cb87","order":1,"width":0,"height":0,"options":[{"label":"Enter Your Query","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":240,"wires":[["edf0d7ca.bf4c58"]],"info":"Creates the dashboard of the form"},{"id":"49550237.e80dcc","type":"ui_template","z":"769193eb.2c4c5c","group":"3b0920fb.1cb87","name":"ANSWER","order":3,"width":20,"height":6,"format":"<p>-> ANSWER</p>\n<strong></strong><div ng-bind-html=\"msg.payload\"></div></strong>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":880,"y":300,"wires":[[]]},{"id":"3b0920fb.1cb87","type":"ui_group","z":"","name":"Here to Help!","tab":"2f86dbd3.9f0314","order":1,"disp":true,"width":"20","collapse":false},{"id":"2f86dbd3.9f0314","type":"ui_tab","z":"","name":"Customer Help Desk","icon":"dashboard","disabled":false,"hidden":false}]